<!DOCTYPE HTML>
<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" media="all" href="../res/<%= css %>" />
</head>
<body>
  <div id="container">
    <div class="sidebar">
      <ul class="files">
        <li class="abs <%=(sources[0].slice(-3) == "abs" ? "active" : "")%>">
          <a href="<%=(sources[0].slice(-3) == "abs" ? "#top" : "../text/lambda.abs.html")%>">.abs</a>
        </li>
        <li class="miz <%=(sources[0].slice(-3) == "miz" ? "active" : "")%>">
          <a href="<%=(sources[0].slice(-3) == "miz" ? "#top" : "../text/lambda.miz.html")%>">.miz</a>
        </li>
        <li class="voc <%=(sources[0].slice(-3) == "voc" ? "active" : "")%>">
          <a href="<%=(sources[0].slice(-3) == "voc" ? "#top" : "../dict/lambda.voc.html")%>">.voc</a>
        </li>
      </ul>
      <% var printlevel = function (hn) {
        %><li><a href="#<%= hn %>"><span class="hn"><%= hn %></span> <%= structure[hn] %></a><%
        if (structure[hn + ".1"]) {
          %><ul><%
          var i = 0;
          while (structure[hn + "." + (++i)]) {
            printlevel(hn + "." + i);
          }
          %></ul><%
        }
        %></li><%
      }; %>
      <ul class="index">
        <% var i = 0; while (structure[++i]) { %>
        <% printlevel(i); %>
        <% } %>
      </ul>
    </div>
    <div id="background"></div>
    <ul class="fragments" id="top">
        <% if (!hasTitle) { %>
          <li id="title">
              <div class="annotation">
                  <h1><%= title %></h1>
              </div>
          </li>
        <% } %>
        <% for (var i=0, l=fragments.length; i<l; i++) { %>
        <% var fragment = fragments[i]; %>
        <li>
            <div class="annotation">
              <% heading = fragment.docsHtml.match(/^\s*<(h\d)>/) %>
              <%= fragment.docsHtml %>
            </div>
            <% if (fragment.codeText.replace(/\s/gm, '') != '') { %>
            <div class="content"><%= fragment.codeHtml %></div>
            <% } %>
        </li>
        <% } %>
    </ul>
  </div>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"], scale: 90 }
  });
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
$(function () {
  var layout = function () {
    $(".sidebar").css({ left: - $("body").scrollLeft() });
  };
  $(window).resize(layout).scroll(layout);
  layout();
});
</script>
</body>
</html>
