<!DOCTYPE HTML>
<html>
<head>
  <title><%= fragments.structure.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" media="all" href="res/style.css" />
  <meta charset="utf8">
</head>
<body>
<!--
  <ul class="tools">
    <li><a href="#top">▴</a></li>
    <li><a href="#toc">□</a></li>
  </ul>
-->
  <%
    var printTOC = function () {
      return '<div class="toc" id="toc">' +
        '<h2>Contents</h2>' +
        printTOCChildren(fragments.structure) +
        '<div style="clear: both;"></div>' +
        '</div>';
    };
    var printTOCChildren = function (hd) {
      return '<ul>' +
        hd.children.map(function (child) {
          var dc = 'depth-' + child.depth;
          return '<li class="' + dc + '">' +
            '<span class="headnumber ' + dc + '">' + child.headNumber() + '</span>' +
            '<span class="contain ' + dc + '">' +
              '<a href="#hd-' + child.headNumber() + '" class="' + dc + '">' + child.title + '</a>' +
              (child.children.length > 0 ? printTOCChildren(child) : '') +
            '</span>' +
            '</li>';
        }).join("\n") +
        '</ul>';
    };
  %>
  <div id="container">
    <div id="background"></div>
    <div id="linenos"></div>
    <ul class="fragments" id="top">
        <% for (var i=0, l=fragments.length; i<l; i++) { %>
        <% var fragment = fragments[i]; %>
        <li>
            <div class="annotation annotation-<%= i %>">
              <% if (fragment.type == "heading") { %>
                <h<%= fragment.heading.depth %> id="hd-<%= (fragment.heading.headNumber() || 'top') %>">
                  <% if (fragment.heading.headNumber()) { %>
                  <a href="#hd-<%= fragment.heading.headNumber() %>" class="headnumber">
                    <%= fragment.heading.headNumber() %>
                  </a>
                  <% } %>
                  <%= fragment.heading.title %>
                </h<%= fragment.heading.depth %>>
              <% } else { %>
                <%= fragment.docsHtml.replace("@TOC", printTOC) %>
              <% } %>

              <% if (fragment.type == "heading" && fragment.vocabulary.length > 0) { %>
                <ul class="vocabulary">
                <% for (var j = 0; j < fragment.vocabulary.length; j++) { %>
                <% var voc = fragment.vocabulary[j]; %>
                <li class="type-<%= voc.type %>"><a href="#line-<%= voc.line %>"><code><%- voc.name %></code></a></li>
                <% } %>
                </ul>
              <% } %>
            </div>
            <% if (fragment.code.join("\n").replace(/\s/gm, '') != '') { %>
            <div class="content"><%= fragment.codeHtml %></div>
            <% } %>
        </li>
        <% } %>
    </ul>
  </div>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true
    },
    "HTML-CSS": {
      availableFonts: ["TeX"],
      scale: 90,
      minScaleAdjust: 90,
      styles: {}
    }
  });
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
$(function () {
  
  $(".collapsible").hide();
  $("a.toggle-collapsible").click(function () {
    $(this).next().toggle();
    return false;
  });

});
</script>
</body>
</html>
