
body {
  margin: 0;
  padding: 0;
}
table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: 0;
}
table td {
  border: 0;
  vertical-align: top;
}
table td.sidebar {
  width: 230px;
}

.sidebar {
  width: 229px;
  position: fixed;
  top: 0;
  bottom: 0;
  
  background: #E2C87C;
  border-right: 1px solid #B6A574;
}
